<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
      <%= bootstrap_form_for(@line, class: 'form') do |f| %>

        <div class="field">
          <%= f.text_field :place, label: "Lieu", id:"user_input_autocomplete_establishment" %>
        </div>

        <div class="field">
          <%= f.text_field :address, label: "Adresse", id:"address" %>
        </div>

        <div class="field">
          <%= f.text_field :zipcode, label: "Code postal", id: "postal_code" %>
        </div>

        <div class="field">
          <%= f.text_field :city, label: "Ville", id: "locality" %>
        </div>

        <div class="field">
          <%= f.text_area :event, label: "Evènement" %>
        </div>

        <div class="field">
          <%= f.date_field :date %>
        </div>

        <div class="actions text-center">
          <%= f.submit "Je valide" %>
        </div>

      <% end %>

    </div>

    <div class="text-center">
      <div class="btn btn-default home">
        <%= link_to lines_path do %>
          <i class="fa fa-eye"></i> Voir toutes les files d'attente
        <% end %>
      </div>
    </div>

  </div>
</div>

