<div class="text-center ">

  <div class="row">

    <div class="col-xs-offset-1 col-xs-10">
      <%= form_tag lines_path, method: "get" do %>
      <div class="form-inline" role="form">

        <div class="form-group">
          <%= label_tag(:place, "Rechercher par lieu") %>
          <br>
          <%= text_field_tag(:place, nil, class: 'form-control', id:"user_input_autocomplete_establishment")  %>
        </div>

<!--         <div class="form-group">
          <%= label_tag(:event, "ou par évènement") %>
          <br>
          <%= text_field_tag(:event, nil, class: 'form-control')  %>
        </div>
 -->
        <%= submit_tag("Lancer la recherche",  class: 'form-control btn btn-default search-btn') %>

      </div>
      <% end %>

    </div>

  </div>

</div>

