<div class= "container margin">
  <div class= "row">

    <div class= "col-xs-12">
      <h1 class= "text-center title">- TOUTES LES FILES D'ATTENTE EN COURS -</h1>

      <div class="search text-center">
        <p>Recherchez une file d'attente par lieu ou par événement :</p>
        <%= render 'lines/search_form'%>
      </div>

      <% @lines.each do |line| %>

        <div class="queue text-center">
          <div class= "place">
            <%= link_to line.place, line_path(line) %> | <%= line.city %>
            <% if line.event.nil? %>
              <% else %>
                <p> pour l'événement <%= line.event %> </p>
              <% end %>
            <div class="date">
              <%= line.date.strftime('%d-%m-%Y') %>
            </div>
          </div>


            <div class='btn btn-default time-btn'>
              <%= link_to line_posts_path(line) do %>
                <i class="fa fa-eye"></i> Voir le temps d'attente
              <% end %>
            </div>
            <div class='btn btn-default time-btn'>
              <%= link_to new_line_post_path(line) do %>
                <i class="fa fa-pencil"></i> Indiquer un temps d'attente
              <% end %>
            </div>


        </div>
      <% end %>


      <div class= "text-center">
        <div class="btn btn-default home">
          <%= link_to "Je crée une nouvelle file d'attente", new_line_path %>
        </div>


        <div class="btn btn-default home">
          <%= link_to "Page d'accueil", root_path %>
        </div>
      </div>

    </div>

  </div>
</div>