<div class= "container">
  <div class= "row">

    <div class= "col-xs-offset-1 col-xs-10">
      <h1 class= "text-center title">Toutes les files d'attente en cours.</h1>

      <% @lines.each do |line| %>

        <div class="queue text-center">
          <div class= "place">
            <%= line.place %> | <%= line.city %>
            <% if line.event.nil? %>
              <% else %>
                <p> pour l'événement <%= line.event %> </p>
              <% end %>
            <div class="date">
              <%= line.date.strftime('%d-%m-%Y') %>
            </div>
          </div>


            <div class='btn btn-default time-btn'>
              <%= link_to "Voir le temps d'attente", line_posts_path(line) %>
            </div>
            <div class='btn btn-default time-btn'>
              <%= link_to "Indiquer un temps d'attente", new_line_post_path(line) %>
            </div>


        </div>
      <% end %>


      <div class= "text-center">
        <div class="btn btn-default home">
          <%= link_to "Je crée une nouvelle file d'attente", new_line_path %>
        </div>


        <div class="btn btn-default home">
          <%= link_to "Page d'accueil", root_path %>
        </div>
      </div>

    </div>

  </div>
</div>