<h1>
Les infos sur la file d'attente ayant lieu à <%= @line.place %> et l'événement <%= @line.event %> le <%= @line.date %>
</h1>

<p>
A <%= @line.posts.last.created_at %> , a écrit :


<%= @line.posts.last.description %>
</p>

<p><%= link_to "Je mets à jour le temps d'attente", new_line_post_path(@line) %></p>

<p><%= link_to "Je pose une question au queuer", new_post_comment_path(@line, @post) %></p>

<p><%= link_to "Revenir aux files d'attente", lines_path %></p>