
<div class="container text-center margin">
  <div class="row">
    <div class="col-xs-12">

      <div class="profile text-center">
      <br>
        <p><span>Prénom :</span> <%= @user.first_name %></p>
        <p><span>Nom :</span> <%= @user.last_name %></p>
        <p><span>email :</span> <%= @user.email %></p>
      </div>

      <div class="update">
        <% if @user == current_user %>
          <%= link_to(edit_profile_path, class: "btn btn-default update-btn") do %>
            <p><i class="fa fa-pencil">   Modifier mon profile</i></p>
          <% end %>
        <% end %>
      </div>

      <div class="pwd-change">
        <p><%= link_to "Changer mon mot de passe",  edit_pwd_profile_path %></p>
      </div>

    </div>
  </div>
</div>
