
<div class="container text-center">
  <h1 class="text-center"><%= @user.name %> </h1>
  <div class="row">
    <div class="col-xs-12">

      <br>
      <%= t '.first_name :' %> <%= @user.first_name %></p>
      <%= t '.last_name :' %> <%= @user.last_name %></p>
      <%= t '.email :' %> <%= @user.email %></p>

      <%= link_to "Changer mon mot de passe",  edit_pwd_profile_path %>

      <% if @user == current_user %>

      <%= link_to(edit_profile_path, class: "btn btn-default") do %>
        <i class="fa fa-pencil">   Update profile</i>
      <% end %>

    <% end %>

    </div>
  </div>
</div>
