<div class= "container margin">

  <h1>Posez vos questions au queuer dans la file !</h1>

  <div>
    a <%= @post.created_at %>,
    <%= @post.user.first_name %> a indiqué :
    "<%= @post.description %>"
  </div>
  <div>
    <% @comments.all.each do |comment| %>
      <div>
        A <%= comment.created_at %>
        <%= comment.user.first_name %> :
        <%= comment.content %>
      </div>
    <% end %>
  </div>

  <%= link_to "Retour aux files d'attente", lines_path %>

</div>