<nav class="navbar navbar-default navbar-fixed-top navbar-wagon" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'weQueue', root_path, class: "navbar-brand", id: "wequeue"%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <div class="visible-xs-block">
          <% if user_signed_in? %>
            <li>
              <%= link_to root_path do %>
                <i class="fa fa-user"> Profile</i>
              <% end %>
            </li>
            <li>
              <%= link_to(destroy_user_session_path, method: 'delete') do %>
                <i class="fa fa-sign-out"> Sign out</i>
              <% end %>
            </li>
          <% end %>
        </div>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown hidden-xs">
            <%= link_to "#", {class: "dropdown-toggle", "data-toggle" => "dropdown", "role" => "button", "aria-expanded" => "false"} do %>
              <ul class= "list-inline">
                <li>
                  Bonjour <%= current_user.first_name %>
                </li>
                <li>
                  Settings <span class="caret"></span>
                </li>
              </ul>
            <% end %>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to root_path do %>
                  <i class="fa fa-user"> Profile</i>
                <% end %>
              </li>
              <li>
                <%= link_to(destroy_user_session_path, method: 'delete') do %>
                  <i class="fa fa-sign-out"> Sign out</i>
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <%= link_to(new_user_session_path) do %>
            <i class="fa fa-sign-in"> Sign in</i>
          <% end %>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>