<div class= "container text-center margin">
  <div class= "row">

    <div class="col-xs-offset-1 col-xs-10">
      <h1 class="title">- LES DERNIERES FILES D'ATTENTE EN COURS -</h1>

      <div class="search">
        <p>Recherchez une file d'attente par lieu ou par événement :</p>
        <%= render 'lines/search_form'%>
      </div>

    </div>

    <div class='col-xs-12' >

      <% @lines.each do |line| %>

      <div class='queue'>
        <div class= "place"><%= link_to line.place, line_path(line) %> | <%= line.city %>
          <div class="date">
            <%= line.date.strftime('%d-%m-%Y') %>
          </div>
        </div>
        <% if line.event.nil? %>
          <% else %>
          <div class="list-inline" id="events">
            Evènement : <%= line.event %>
          </div>

        <% end %>


      <% line.posts.order('posts.created_at DESC').last(2).each do |post| %>
        <div class='post'>
          <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-6" id="text">

              le <%= post.created_at.strftime('%d/%m/%Y') %>
              à <%= post.created_at.strftime('%Hh%M') %>, <%= post.user.first_name %> a indiqué : "<%= post.description %>"
              <%= link_to(new_post_comment_path(post), :title => "Parler à ce Queuer") do %>
                <i class="fa fa-comment-o fa-2x"></i>
              <% end %>
            </div>
            <div class="col-xs-offset-1 col-xs-10 col-sm-4">
                <% if post.picture.exists? %>
                <%= image_tag post.picture.url(:thumb), class: "img-thumbnail" %>
              <% end %>
            </div>
          </div>
          <br>
        </div>
        <% end %>

        <div class='btn btn-default time-btn'>
          <%= link_to new_line_post_path(line) do %>
            Mettre à jour le temps <i class="fa fa-clock-o fa-2x"></i>
          <% end %>
        </div>

        <br>
      </div>
    <% end %>

    <div class="btn btn-default home">
      <%= link_to new_line_path do %>
        <i class="fa fa-pencil"></i> Créer une nouvelle file d'attente
      <% end %>
    </div>

    <div class="btn btn-default home">
      <%= link_to lines_path do %>
        <i class="fa fa-eye"></i> Voir toutes les files d'attente
      <% end %>
    </div>

    </div>
  </div>
</div>