<div class="pic">
  <div class="container">
    <div class="row">

    <h1 class="text-center weq">weQueue <%= image_tag("logo.png", width: "70px", id:"logo") %></h1>

      <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">

        <h4 class="text-center">L'info en temps réel sur toutes les files d'attente.</h4>

        <div class= "signin">
        <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, label: "Email" %>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "off", label: "Mot de passe" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <ul class="list-inline">
              <li><%= f.check_box :remember_me, label: "Se souvenir de moi" %></li>
              <li><%= link_to "Mot de passe oublié?", new_password_path(resource_name) %></li>
              </ul>
            </div>
          <% end -%>

          <div class="actions text-center">
            <%= f.submit "Sign in" %>
          </div>
          <br />
        <% end %>

        <div class= "text-center">
          <div class= "btn btn-default devise">
            <%= link_to 'Nouveau sur weQueue?', new_user_registration_path %>
          </div>

          <div class="btn btn-default" id= "fb">
            <%= link_to(user_omniauth_authorize_path(:facebook)) do %>
            Se connecter avec <i class="fa fa-facebook"></i>
          <% end %>
          </div>
        </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="prez">

  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10">
      <div id="definition">
        <p class="text-center">Expositions, ventes privées, démarches administratives, hotlines... weQueue permet, grâce à notre communauté de Queuers, de partager précisément les temps d'attente.</p>
        <p class="text-center"> Rejoignez-nous pour éviter les mauvaises suprises de la file d'attente !</p>
      </div>
    </div>
  </div>

  <div class="row text-center" id="space">

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="feature">
        <%= image_tag("queue.png", width: "80px", id:"logo") %>
        <p>Localisez une file d'attente</p>
      </div>
      <br>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="feature">
        <%= image_tag("time.png", width: "80px", id:"logo") %>
        <p>Donnez des infos sur la file d'attente</p>
      </div>
      <br>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="feature">
        <%= image_tag("smiley.png", width: "80px", id:"logo") %>
        <p>Evitez les files d'attente.</p>
      </div>
    </div>

  </div>

  <div class="text-center">
    <%= mail_to "hello@wequeue.com" do %>
      <i class="fa fa-paper-plane fa-2x"></i>
    <% end %>
  </div>

  <div class="text-center">
    <p><i class="fa fa-copyright"> weQueue - 2015</i></p>
  </div>
</div>
