<div class="container">
  <div class="row">

  <h1 class="text-center weq">weQueue <%= image_tag("logo.png", width: "70px") %></h1>

    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">

      <h4 class="text-center">L'info en temps réel sur toutes les files d'attente.</h4>

      <div class= "signin">
      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, label: "Email" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", label: "Mot de passe" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <ul class="list-inline">
            <li><%= f.check_box :remember_me, label: "Se souvenir de moi" %></li>
            <li><%= link_to "Mot de passe oublié?", new_password_path(resource_name) %></li>
            </ul>
          </div>
        <% end -%>

        <div class="actions text-center">
          <%= f.submit "Sign in" %>
        </div>
        <br />
      <% end %>

      <div class= "text-center">
        <div class= "btn btn-default devise">
          <%= link_to 'Nouveau sur weQueue?', new_user_registration_path %>
        </div>

        <div class="btn btn-default" id= "fb">
          <%= link_to(user_omniauth_authorize_path(:facebook)) do %>
          Se connecter avec <i class="fa fa-facebook"></i>
        <% end %>
        </div>
      </div>

      </div>

    </div>
  </div>
</div>
