<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
      <%= bootstrap_form_for([@line, @post], class: 'form') do |f| %>

        <%= f.hidden_field :line_id %>

        <div class="field">
          <%= f.text_area :description, label: "Le temps d'attente selon vous? Une autre info utile?" %>
        </div>

        <div class="field">
          <%= f.file_field :picture, label: "Ajoutez une photo de la file d'attente" %>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>

      <% end %>

      <div>
        <%= link_to 'Voir toutes les files', lines_path %>
      </div>

      <div>
        <%= link_to "Page d'accueil", root_path %>
      </div>

    </div>
  </div>
</div>

